html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 16px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Open Sans", sans-serif;
  background-color: #00c6ff;
}

body {
  background-color: #320097;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

h2 {
  text-align: center;
  font-size: 0.75rem;
}

li {
  color: #3f3f3f;
  text-align: center;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1.25rem 0 1.25rem;
  background-color: #003798;
  display: flex;
  position: sticky;
  top: 0;
  width: stretch;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

 /* unvisited link */
p a:link {
  color: hotpink;
}

/* visited link */
p a:visited {
  color: yellow;
}

/* mouse over link */
p a:hover {
  color: pink;
}

/* selected link */
p a:active {
  color: blue;
}

footer {
  background-color: #3f3f3f;
}

/*
Source - https://stackoverflow.com/questions/19040556/css-html-boxes-side-by-side
Posted by incutonez
Retrieved 05/11/2025, License - CC-BY-SA 4.0
*/

.b {
    display: inline-block;
    position: relative;
    align-content: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: #2c0078;
    width: 100%;
}

.align {
  display: flex;
  justify-content: center;
}

iframe {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.b iframe {
  aspect-ratio: 16 / 9;
}