html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 16px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Open Sans", sans-serif;
  background-color: #00c6ff;
}

body {
  background-color: #320097;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

h2 {
  color: #3f3f3f;
  text-align: center;
  font-size: 12px;
}

li {
  color: #3f3f3f;
  text-align: center;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  position: sticky;
  top: 0;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

/*
Source - https://stackoverflow.com/questions/19040556/css-html-boxes-side-by-side
Posted by incutonez
Retrieved 05/11/2025, License - CC-BY-SA 4.0
*/

.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    align-content: center;
    width: 45%;
    height: 250px;
    background-color: #2c0078;
}

.align {
  display: flex;
  justify-content: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;

}